body {
    background-image: url(s1200.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    font-size: larger;
    font-family: cursive;
}

h1 {
    text-align: center;
    
}

p {
    color: black;
    font-size: x-large;
}

input[type="date"] {
    border-radius: 0 10px;
    border-color: black;
    color: darkblue;
    border-style: double;
    padding: 5px;
    text-align: center;
    
}

table, td, th {
    border: 1px solid black;
    text-align: center;
    border-spacing: 0px;
    color: aliceblue;
}

.photo {
    width:  5%;
    float: left;;    
    margin-right:20px;
}

.sob {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="submit"] {
    background: green;
    
}
input[type="submit"] {
    background: green;
    color: rgb(1, 14, 1); 
    border: 1px solid #7a7b7e; 
    width: 85px; 
    height: 60px; 
    border-radius: 30px;
    border-bottom: 8px solid darkgreen;
}
input[type="submit"]:hover {
    background: #FF6656;
    border-bottom-color: #E74C3C;
    cursor: default;
}
input[type="submit"]:active {
    top:8px;
    background: #E74C3C;
    border-bottom-width: 0px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.15) inset;
}

input[type="reset"] {
    background: rgb(206, 47, 47);
    color: rgb(1, 14, 1); 
    border: 4px solid #7a7b7e; 
    width: 85px; 
    height: 60px; 
    margin-left: 50px;
}
input[type="reset"]:hover {
    background: rgb(180, 39, 24);
    border-bottom-color: rgb(145, 45, 34);
    cursor: default;
}
input[type="reset"]:active {
    top:8px;
    background: rgb(105, 22, 13);
    border-bottom-width: 0px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.15) inset;
}

 
.bad {
    color: red;
    
}
.midlle {
    color: yellow;
}
.well {
    color: blue;
}
.excellently {
    color: green;
}
ul {
    list-style-image: url(html5_css_javascript_enl1.jpg);
   
    
}
span{
    color: black;
}
input[name="scill"] {
    background-color: lightgrey;    
    height: 30px;
}
input[type="button"] {
    height: 36px;
    background-color: grey;
    border-color: darkgrey;
    border-bottom-width: thick;
}
select[name="value1"] {
 background-color: green;    
 border-radius: 10px;
}
input[type="text"] {
    border-color: black;

}

input[type="checkbox"] {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}

input[type="checkbox"] + label {
	cursor: pointer;
}



input[type="checkbox"]:not(checked) {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
input[type="checkbox"]:not(checked) + label {
	position: relative;
	padding: 0 0 0 60px;
}
input[type="checkbox"]:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
input[type="checkbox"]:not(checked) + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
input[type="checkbox"]:checked + label:before {
	background: #9FD468;
}
input[type="checkbox"]:checked + label:after {
	left: 26px;
}
input[type="checkbox"]:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}
